@charset "utf-8";
/* CSS Document */
.input_tag{
  font-size: 1.2rem;
  text-align: left;
  display: block;
  text-transform: capitalize;
  padding-bottom: 4px;
  padding-left: 4px;
  margin-top: 10px;
}
#main{
  padding: 0px!important;
}
#noBudgetView{
  width: 100%;
  height: 100%;
  padding: 50px 0px 0px;
}
/* ~~~~~~~~~~~~~~~~~~~~ ADD BUDGET & GOAL FORMS ~~~~~~~~~~~~~~~~~~~~ */
#budget_form, #formgoal_add{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 680px;
}
#budget_form{
  margin: auto;
}
.budgetContainer, .addGoalContainer{
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  text-align: left;
}
.ovr_budget_btn, .add_goal_btn{
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  display: block;
}
/* ~~~~~~~~~~~~~~~~~~~~ NO BUDGET MESSAGE ~~~~~~~~~~~~~~~~~~~~ */
#pulseMessageContainer{
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#noWeeklyBudget{
  border: 3px solid #dd2622;
  border-radius: 20px;
  box-shadow: -4px 6px 20px #8c8c8c;
  padding: 15px;
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.8rem;
  background-color: #dd2622;
  max-width: 500px;
  margin: auto;
}
.pulseanimation{
  -webkit-animation:pulse 2s infinite;
  animation: pulse 2s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(140, 140, 140, 1);
  }
  70% {
      -webkit-box-shadow: 0 0 20px 20px rgba(140, 140, 140, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(140, 140, 140, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(128, 0, 0, 1);
    box-shadow: 0 0 0 0 rgba(128, 0, 0, 1);
  }
  70% {
      -moz-box-shadow: 0 0 20px 20px rgba(128, 0, 0, 0);
      box-shadow: 0 0 20px 20px rgba(128, 0, 0, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(128, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(128, 0, 0, 0);
  }
}
#currentBudgetView{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height: auto;
  padding-bottom: 80px;
}
#budgetCard{
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 1px rgba(0, 0, 0, 0.2), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  min-width: 250px;
  width: 100%;
  max-width: 400px;
  padding: 16px;
  margin: 26px;
}
#budgetCard_title{
  font-size: 1.6rem;
  font-weight: 600;
  color: #009933;
  padding: 10px;
  margin-bottom: 8px;
  position: relative;
  padding-left: 56px;
  text-align: left;
  display: inline-block;
}
#budgetAppIcon{
  position: absolute;
  display: block;
  width:45px;
  height:45px;
  top: 3px;
  left: 0px;
  border-radius: 50%;
  background-repeat: no-repeat!important;
  background-position: center!important;
  background-color: #009933!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
  background: url(../img/logo/logo.svg) center center no-repeat;
  display: inline-block;
  background-size: 53px!important;
}
.budgetCardSection{
  position: relative;
  padding-bottom: 16px;
  margin-top: 5px;
  min-height: 115px;
}
/* ~~~~~~~~~~~~~~~~~~~~ BUDGET TAGS ~~~~~~~~~~~~~~~~~~~~ */
.budget_tag{
  text-align: left;
  font-size: 1.3rem;
  font-style: oblique;
  color: #1a1a1a;
  padding-left: 5px;
  margin-bottom: 20px;
  border-bottom: 2px dashed #a6a6a6;
}
/* ~~~~~~~~~~~~~~~~~~~~ BUDGET BUTTONS ~~~~~~~~~~~~~~~~~~~~ */
.cancelBudgetBtn, .editBudgetBtn, .saveBudgetBtn {
  position: absolute;
  top:5px;
  background-color: #a6a6a6;
  color: #1a1a1a;
  box-shadow: -0px 0px 15px rgba(0, 0, 0, 0.7);
}
.cancelBudgetBtn {
  right:85px;
}
.editBudgetBtn, .saveBudgetBtn{
  right:16px;
}
.cancelBudgetBtn:hover,.cancelBudgetBtn:focus{
  color: #fff;
  text-shadow: -0px 0px 25px #1a1a1a;
  background-color: #1e90ff;
}
.editBudgetBtn:hover,.editBudgetBtneditBudgetBtn:focus, .saveBudgetBtn:hover,.saveBudgetBtn:focus{
  color: #fff;
  text-shadow: -0px 0px 25px #1a1a1a;
  background-color: #009933;
}
/* ~~~~~~~~~~~~~~~~~~~~ BUDGET DATA ~~~~~~~~~~~~~~~~~~~~ */
.dataContainer{
  display: flex;
	flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.budget_icon, .goal_euro_icon{
  display: block;
  width: 60px;
  height: 36px;
  margin-right: 16px;
  font-size: 1.8rem;
  line-height: 34px;
  color: #4d4d4d;
  text-align: right;
  padding-right: 16px;
  border-right: 2px solid #009933;
}
.budget_data, .goal_data{
  font-size: 1.1rem;
  width: 210px;
  width: 100%;
  text-align: left;
  word-wrap: break-word;
}
.goal_data{
  overflow: hidden;
  font-size: 1.5rem;
}
.budgetedit_form{
  max-width: 300px;
  margin-top: 25px!important;
}
#formbudget_period>span{
  display: block;
  font-size: 1.2rem;
  text-align: left;
}
#formbudget_period{
  margin-top: -16px!important;
}
.actionButtonsContainer, .addGoalFormContainer{
  width: 100%;
  height: auto;
}
.instant_action_msg{
  width: 100%;
  font-size: 1.4rem;
  font-style: italic;
  height: 145px;
  line-height: 100px;
}
.actionBtns>span{
  font-size: 1rem;
  display: block!important;
  width:  90px;
  text-transform: lowercase;
  padding: 0 4px;
  word-wrap: break-word;
  word-break: break-all;
}
#formgoal_add{
  position: relative;
  margin-bottom: 0px;
  margin-top: 0px;
}
#cancel_goal_add{
  left: auto;
  right: 20px!important;
  top: 14px;
}
.addGoalContainer>.blobselect{
  border: none;
  border-bottom: 2px solid #1a1a1a;
}
.blobselect-items{
  margin-top: 0px!important;
  border-top: 2px solid #009933;
}
.goalsHeader{
  width: 100%;
  text-shadow: -2px 2px 20px #999999;
  color: #0d0d0d;
  padding: 16px;
  font-size: 1.4rem;
  background-color: rgba(0, 153, 51, 0.15);
  margin-top: 16px;
}
.noItemsMessage{
  padding: 50px;
  font-size: 1.4rem;
  font-style: italic;
  color: #4d4d4d;
  font-weight: 600;
  width: 100%;
}
#goalsSection{
  display: block;
  width: 100%;
}
#goalsList{
  width: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height: auto;
  padding: 16px;
}
/* ~~~~~~~~~~~~~~~~~~~~ CARD ACTION BUTTONS - EDIT, DELETE, CANCEL, UPDATE ~~~~~~~~~~~~~~~~~~~~ */
.deleteRoundBtn, .cancelRoundBtn, .editRoundBtn, .saveRoundBtn {
  position: absolute;
  top:16px;
  background-color: #a6a6a6;
  color: #1a1a1a;
  box-shadow: -0px 0px 12px rgba(0, 0, 0, 0.7);
}
.deleteRoundBtn, .cancelRoundBtn {
  left:16px;
}
.editRoundBtn, .saveRoundBtn{
  right:16px;
}
.deleteRoundBtn:hover,.deleteRoundBtn:focus{
  color: #fff;
  text-shadow: -0px 0px 25px #1a1a1a;
  background-color: #ff0000;
}
.editRoundBtn:hover,.editRoundBtn:focus{
  background-color: #009933;
  color: #fff;
  text-shadow: -0px 0px 25px #1a1a1a;
}
.cancelRoundBtn:hover,.cancelRoundBtn:focus{
  color: #fff;
  text-shadow: -0px 0px 25px #1a1a1a;
  background-color: #1e90ff;
}
.saveRoundBtn:hover,.saveRoundBtn:focus{
  color: #fff;
  text-shadow: -0px 0px 25px #1a1a1a;
  background-color: #009933;
}
/* ====================== Responsive Design with Media Queries ======================*/
@media screen and (max-width: 732px) {
  .goalCard{
    max-width: 400px;
  }
}
@media screen and (max-width: 720px) {
  #budget_form, #formgoal_add{
    flex-flow: column nowrap;
    align-items: center;
    max-width: 400px;
  }
  .budgetContainer:nth-of-type(2), .addGoalContainer:nth-of-type(2){
  margin-top: 20px;
  }
}
@media screen and (max-width: 425px) {
  .sorting_tag{
    width: 100%;
    height: auto;
    line-height: 20px;
    margin-bottom: -2px;
  }
}
