@charset "utf-8";
/* CSS Document */
#main{
  padding-bottom: 120px!important;
}
.noteForForm{
  width: 100%;
  font-weight: 600;
  font-size: 1.1rem;
  font-style: oblique;
  display: block;
}
.noteForSec{
  width: 100%;
  font-size: 1rem;
  font-style: oblique;
  color: #0d0d0d;
  display: block;
}
#add_expense{
  position: relative;
  max-width: 610px;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}
#form_opacity{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  background-color: rgba(255, 255, 255,0.5);
  z-index: 500;
}
#formMenuBtn{
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 1.2rem;
  background-color: #fff;
  color: #009933;
  border: 2px solid #009933;
  box-shadow: -0px 0px 12px rgba(0, 0, 0, 0.7);
}
#formMenuBtn:hover,#formMenuBtn:focus, #closeFormMenu:hover,#closeFormMenu:focus {
  background-color: #009933;
  color: #fff;
}
#form_menu{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  width: 220px;
  box-shadow: -4px 4px 5px 0 rgba(0, 0, 0, 0.2), -4px 2px 9px 1px rgba(0, 0, 0, 0.2), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  padding-bottom: 10px;
  border: 1px dashed #009933;
}
.menu_tag{
  width: 100%;
  padding: 22px 8px 0px;
  font-size: 1.4rem;
  color: #009933;
  text-transform: capitalize;
  font-weight: 600;
  text-align: left;
  margin-bottom: 10px;
}
#closeFormMenu{
  box-shadow: -0px 0px 12px rgba(0, 0, 0, 0.7);
  background-color: #1a1a1a;
  color: #f4fffd;
  position: absolute;
  right: 20px;
  top: 10px;
}
.addSecBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 200px;
  background-color: #fff;
  color: #009933;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 16px;
  height: auto;
  min-height: 40px;
  border-top: 1px solid #009933;
}
.addSecBtn>i, .addSecBtn>span{
  display: block;
}
.addSecBtn>i{
  margin-right: 10px;
  font-size: 1.4rem;
}
#expIcon_time{
  font-size: 1.6rem;
}
#expIcon_location{
  font-size: 1.7rem;
}
.addSecBtn:hover, .addSecBtn:focus{
  background-color: #009933;
  color: #fff;
}
.addSecBtn:hover>span, .addSecBtn:focus>span{
  text-shadow: -2px 2px 5px #000;
}
.addSecBtn:hover>i, .addSecBtn:focus>i{
  text-shadow: 0px 0px 25px #1a1a1a;
}
.form_wrapper{
  width: 100%;
  display: flex;
	flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}
#more_wrapper{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items:  center;
  align-content: center;
}
.expenseFormSection.additionalFormSection.expSection_comments{
  width: 100%!important;
  margin-left: 10px;
  margin-right: 10px;
}
.expenseFormSection,.expenseCategoryContainer,.expensePaymentContainer{
  display: block;
  width: 260px!important;
  padding-bottom: 16px;
}
.expenseCategoryContainer>.blobselect, .expensePaymentContainer>.blobselect{
  border: none;
  border-bottom: 2px solid #1a1a1a;
}
.expFormBtn{
  width: 100%;
  min-width: 200px;
  max-width: 260px;
  display: block;
}
.additionalFormSection{
  position: relative;
  margin-top: 5px;
  text-align: left;
}
.more_tag{
  padding: 3px 0px;
  display: inline-block;
}
.closeExpSectionBtn{
  margin-right: 8px;
  height: 30px!important;
  width: 30px;
  background-color: #666666;
  color: #f4fffd;
  border-radius: 10px;
}
.closeExpSectionBtn:hover,.closeExpSectionBtn:focus{
  color: #fff;
  text-shadow: -0px 0px 25px #000;
  background-color: #1a1a1a;
}
.closeExpSectionBtn.fas.fa-times{
  font-size: 1.2rem;
}
#message{
  height: 150px;
  overflow: auto;
  display: block;
  border:2px dotted #4d4d4d;
}
#location_inpt_id, #store_inpt_id{
  text-transform: capitalize!important;
}
/* ~~~~~~~~~~~~~~~~~~~~ CLOCK ~~~~~~~~~~~~~~~~~~~~ */
#grudus-clock{
  height: 100%;
  width:100%;
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1200;
}
#g-time-cancel, #g-time-submit{
  background-color: transparent!important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #009933!important;
}
#g-time-cancel:hover, #g-time-cancel:focus, #g-time-submit:hover, #g-time-submit:focus{
  background-color: #009933!important;
  color: #f4fffd!important;
}
/* ====================== Responsive Design with Media Queries ======================*/
@media screen and (max-width: 640px) {
  #add_expense{
    max-width: 400px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .form_wrapper{
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}
