.blobselect{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex-wrap:row wrap;
    flex-wrap:wrap;
    width:100%;
    max-width:300px;
    min-height:36px;
    border:2px solid #1a1a1a;
    outline:0;
    color:#333;
    background-color:#fff;
    font-size:1.1rem;
    font-weight:400;
    font-style:normal;
    font-variant:normal;
    text-transform:capitalize;
    padding-left:10px;
    cursor:pointer;
    transition:background .3s ease,color .3s ease,border .3s ease
}
.blobselect>select{
    position:absolute;
    top:0;
    right:-5px;
    bottom:-5px;
    left:-5px;
    z-index:1000;
    width:calc(100%+10px);
    height:calc(100%+5px);
    opacity:0
}
@media screen and (min-width:100px){
    .blobselect>select{
        display:none
    }
}
.blobselect:focus,.blobselect:active,.blobselect:hover{
    border-color:#1a1a1a
}
.blobselect.is-open{
    z-index:1;
    border-color:#093
}
.blobselect.is-disabled{
    border-color:#1a1a1a!important;
    color:#999!important;
    cursor:not-allowed
}
.blobselect.is-disabled>*{
    pointer-events:none
}
.blobselect-button{
    position:relative;
    width:35px;
    height:30px;
    cursor:pointer;
    transition:all .3s ease
}
.blobselect-button:after{
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    width:0;
    height:0;
    margin-top:-5px;
    margin-left:-7.5px;
    border-style:solid;
    border-width:14px 9px 0 9px;
    border-color:#1a1a1a transparent transparent transparent
}
.blobselect:active .blobselect-button:after,.blobselect:focus .blobselect-button:after,.blobselect:hover .blobselect-button:after{
    border-color:#1a1a1a transparent transparent transparent
}
.blobselect.is-open .blobselect-button{
    transform:rotate(180deg)
}
.blobselect.is-open .blobselect-button:after{
    border-color:#093 transparent transparent transparent
}
.blobselect.is-disabled .blobselect-button:after{
    border-color:#1a1a1a transparent transparent transparent!important
}
.blobselect-selections{
    display:flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction:column;
    width:calc(100% - 35px);
    overflow:hidden;
    word-wrap:break-word
}
.blobselect-selection{
    padding:5px 0;
    pointer-events:none;
    text-align:left!important
}
.blobselect-selection.is-placeholder{
    color:#999
}
@media screen and (min-width:100px){
    .is-multiple .blobselect-selection:not(.is-placeholder){
        position:relative;
        pointer-events:auto
    }
    .is-multiple .blobselect-selection:not(.is-placeholder):after{
        content:'';
        position:absolute;
        top:50%;
        left:0;
        width:100%;
        height:2px;
        background-color:rgba(192,57,43,.5);
        opacity:0;
        transition:opacity .3s ease
    }
    .is-multiple .blobselect-selection:not(.is-placeholder):hover:after{
        opacity:1
    }
}
.blobselect-items{
    position:absolute;
    top:100%;
    right:0px;
    left:0px;
    display:none;
    width:100%;
    max-height:200px;
    overflow-y:scroll;
    border:2px solid #999;
    border-top:0;
    background-color:#fff;
    color:#333;
    font-size:1.1rem;
    font-weight:400;
    text-transform:capitalize;
    cursor:auto;
    transform:scale(1,0);
    transform-origin:top center;
    text-align:left!important;
    transition:background .3s ease,color .3s ease,transform .3s ease;
    box-shadow:-4px 4px 15px #4d4d4d;
    margin-top: 2px!important;
}
@media screen and (min-width:100px){
    .blobselect.is-opening .blobselect-items{
        display:block
    }
    .blobselect.is-open .blobselect-items{
        display:block;
        z-index:1000;
        border-color:#093;
        transform:scale(1,1)
    }
}
.blobselect-item-search{
    display:block;
    min-height:36px!important;
    max-width:100%!important;
    word-wrap:break-word!important;
    padding:6px 10px 6px 35px;
    border-top:2px dashed #093;
    border-bottom:2px dashed #093;
    outline:0;
    cursor:text;
    opacity:.8;
    transition:opacity .3s ease;
    text-transform:none!important;
    box-shadow:-2px 4px 12px rgba(0,0,0,0.5);
    background:transparent url(../img/search.svg) scroll 6px 6px no-repeat;
    background-size:21px 21px
}
.blobselect-item-search:active,.blobselect-item-search:focus,.blobselect-item-search:hover{
    opacity:1
}
.blobselect-item-group{
    padding:6px;
    outline:0;
    font-weight:700;
    letter-spacing:.1em;
    pointer-events:none
}
.blobselect-item-group.is-disabled{
    opacity:.5
}
.blobselect-item-group:first-child{
    border-top:1px dashed #093
}
.blobselect-item{
    padding:6px 10px 6px 10px;
    outline:0;
    cursor:pointer;
    transition:background .3s ease,color .3s ease;
    width:100%;
    word-wrap:break-word;
    text-transform:lowercase!important;
    letter-spacing:.05rem
}
.blobselect-item.has-group{
    padding-left:30px
}
.blobselect-item.is-disabled{
    opacity:.5;
    cursor:not-allowed
}
.blobselect-item.is-placeholder{
    font-style:italic
}
.blobselect-item.is-not-match{
    display:none
}
.blobselect-item>mark{
    border-bottom:2px solid #093;
    background-color:transparent;
    color:#093;
    font-weight:600
}
.blobselect-item:hover mark,.blobselect-item:focus mark{
    border-bottom:2px solid #fff;
    color:#fff
}
.blobselect-item:hover,.blobselect-item.is-focused{
    background-color:#093!important;
    color:#f4fffd
}
.blobselect-item.is-active{
    background-color:#bfbfbf;
    color:#000
}
.blobselect-item:first-child{
    border-top:1px dashed #009688
}
.blobselect:focus,.blobselect:hover{
    border-color:#093!important;
    color:#093!important
}
.blobselect:focus .blobselect-selection.is-placeholder,.blobselect:hover .blobselect-selection.is-placeholder{
    color:#093!important
}
.blobselect:focus .blobselect-button:after,.blobselect:hover .blobselect-button:after{
    border-color:#093 transparent transparent transparent
}
