@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', "Helvetica", "Verdana", sans-serif;
}
html, body {
  height: 100vh;
  width: 100vw;
  font-weight: 400;
  font-display: optional;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html { overflow: hidden; }
body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  background-color: #f5f5f5;
  position: relative;
  overflow: hidden;
}
a {
  color: #12ba4a;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:focus {
  outline: none;
  text-decoration: underline;
}
button, input{
  font-family: "Roboto", "Helvetica", "Verdana", sans-serif;
}
button {
  border: none;
  outline: none;
  cursor: pointer!important;
  height: 40px;
}
#opacity_layer{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 8500;
}
.hidden{
  display: none!important;
  visibility: hidden!important;
}
.round_btn{
  min-width: 40px;
  width: 40px;
  border-radius: 50%;
  background-repeat: no-repeat!important;
  background-position: center!important;
}
.app_btn{
  min-width: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 1px rgba(0, 0, 0, 0.2), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.centeredFlexbox{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.fas{
  display: inline-block;
}
.fas.fa-times{
  font-size: 26px;
  padding-top: 1px;
}
.btnWrapper{
  width: 100%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#header {
  width: 100%;
  height: 60px;
  color: #f4fffd;
  background-color: #1a1a1a;
  position: fixed;
  font-size: 20px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  z-index: 1000;
  display: flex;
	flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
#app_title{
  flex: 1 1 100px;
  padding: 0 40px;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.05rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER BUTTONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.header_btn{
  color: #f4fffd;
  background-color: inherit;
  position: absolute;
}
#btn_menu{
  font-size: 22px;
  left: 8px;
}
#btn_refresh{
  font-size: 20px;
  right: 8px;
}
.header_btn:hover, .header_btn:focus{
  color: #fff;
  background-color: rgba(140, 140, 140, 0.15);
  text-shadow: -0px 0px 15px #fff;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTENT SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#content_wrapper{
  margin-top: 60px;
  height: 100vh;
  width: 100%;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
#main, .error_container{
  min-height: 100vh!important;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 16px;
  text-align: center;
  background-color: inherit;
}
#main>h2{
  width: 100%;
  text-shadow: -2px 2px 20px #999999;
  color: #0d0d0d;
  padding: 16px;
}
#main>p{
  width: 100%;
  padding: 16px;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ERROR VIEW ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.app_logo_error{
  width: 50%;
  min-width: 180px;
  max-width: 240px;
  display: block;
  margin-top: 50px;
  margin-bottom: 20px;
  opacity: 0.5;
  filter: alpha(opacity=80);
}
.app_error_text{
  font-size: 1.2rem;
  font-style: oblique;
  font-weight: bold;
  color: #4d4d4d;
}
.app_error_text>span{
  display: inline-block;
  padding: 4px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#footer{
  text-align: center;
  padding: 8px;
  width: 100%;
  height: auto;
  color: #f4fffd;
  background-color: #0d0d0d;
}
#footer>span, #footer>a, #footer>i{
  padding: 8px 0;
  display: inline-block;
}
#footer>a:first-of-type {
  font-weight: 600;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
	text-transform: uppercase;
  padding: 0 16px;
}
#footer>i{
  padding: 0px;
  display: block;
  font-size: 0.85rem;
  color: #d9d9d9;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ LOADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#loader_container{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  flex: 1 0 100vh;
  background-color: #f5f5f5;
  flex-flow: column nowrap;
  z-index: 8000;
  padding-left: 6px;
}
#loader_logo{
  width: 250px;
  height: 250px;
}
#loader {
  transform: scale(2, 2);
  margin-top: 80px;
}
#spinner {
  stroke: #00802b;
  stroke-width: 3px;
  transform-origin: 50%;
}
.spin{
  animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(450deg);
    }
  }
@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    transform: rotate(90deg);
    }
  }
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NOTIFICATION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#toaster{
  position: absolute;
  bottom: -100vh;
  left: 0;
  z-index:9500;
  width: 100%;
  min-height: 160px;
  height: auto;
  padding: 16px;
  box-shadow: 0px -3px 25px rgba(0, 0, 0, 0.5);
  transition: 0.7s ease-in-out;
  background-color: #00e64d;
}
.show_toast{
  bottom: 0px!important;
}
#notification_bell{
  color: #1a1a1a;
  font-size: 1.8rem;
  text-shadow: -0px 0px 15px #4d4d4d;
}
#btn_gotit{
  position: absolute;
  top: 16px;
  right: 16px;
}
.toasterBtn{
  text-align: center;
  font-size: 1.1rem;
  text-transform: capitalize;
  padding: 0 10px;
  background-color: #000;
  color: #f4fffd;
  width: 100px;
}
#toast_msg{
  margin-top: 26px;
  word-wrap: break-word;
  height: auto;
  font-size: 1.2rem;
  text-align: left;
}
#toast_msg>span, #toast_msg>b{
  display: inline-block;
  padding: 4px;
  word-wrap: break-word;
  text-align: left;
}
#notification_btns{
  display: block;
  margin: auto;
  width: 100%;
  min-width: 260px;
  height: auto;
  min-height: 36px;
  margin-top: 10px;
}
#go_btn_budget,#go_btn_expenses, #go_btn_fp{
  padding: 8px;
  text-decoration: none!important;
  display: block;
  float: right;
}
#go_btn_expenses{
  width: 150px;
}
#dismiss_btn,#update_btn{
  width: 100px;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 0 16px;
  background-color: #000;
  color: #f4fffd;
  float: right;
}
.toasterBtn:hover, .toasterBtn:focus,#dismiss_btn:hover, #dismiss_btn:focus,#update_btn:hover, #update_btn:focus{
  background-color: #f4fffd;
  color: #009933;
  font-weight: 600;
}
.contact_indicator, .usermail_indicator{
  font-size: 1.1rem;
  font-weight: 600;
  font-style: oblique;
}
.emailcont{
  display: inline-block;
  word-break: break-all;
  word-wrap: break-word;
  font-style: oblique;
  font-size: 1.1rem;
  font-weight: 600;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BUTTON LINKS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.btn_link{
  height: 40px;
  width: 50%;
  min-width: 260px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 40px;
  text-decoration: none!important;
  color: #f4fffd;
  background-color: #004d1a;
}
.signin_link_icon,.at_link_icon,.signup_link_icon{
  margin-right: 10px;
}
.signin_link_icon{
  font-size: 26px;
  padding-top: 2px;
}
.at_link_icon, .signup_link_icon{
  font-size: 24px;
}
.btn_link_txt{
  display: inline-block;
  font-size: 1.3rem;
}
.btn_link:hover, .btn_link:focus{
  color: #fff;
  text-shadow: -2px 2px 5px #000;
  background-color: #009933;
}
.btn_link:hover .signin_link_icon, .btn_link:focus .signin_link_icon,.btn_link:hover .at_link_icon, .btn_link:focus .at_link_icon,
.btn_link:hover .signup_link_icon, .btn_link:focus .signup_link_icon{
  text-shadow: -2px 2px 15px #000;
}
/* ====================== Responsive Design with Media Queries ====================== */
@media screen and (max-width: 340px) {
  #app_title{
    font-size: 1.2rem;
  }
}
