@charset "utf-8";
/* CSS Document */
#main{
  padding-bottom: 80px;
}
.expFormBtn{
  width: 100%;
  min-width: 200px;
  max-width: 300px;
  margin: 20px;
}
.expFormBtn:nth-of-type(1){margin-right: 80px;}
.update_expense_msg{
  font-size: 1.2rem;
  text-align: left;
  font-style: italic;
  width: 100%;
  padding-top: 16px;
}
#expenseCard{
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 880px;
  min-width: 250px;
  min-height: 240px;
  padding: 16px!important;
  display: flex;
	flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  margin-top: 16px;
}
/* ~~~~~~~~~~~~~~~~~~~~ EXPENSE HEADER ~~~~~~~~~~~~~~~~~~~~ */
#expense_header{
  width:100%;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 600;
  color: #009933;
  word-wrap: break-word;
  word-break: break-all;
}
#expense_header>span{
  display: inline-block;
  padding: 0 2px;
}
/* ~~~~~~~~~~~~~~~~~~~~ EXPENSE SECTION ~~~~~~~~~~~~~~~~~~~~ */
.expenseCardSection{
  width:100%;
  max-width: 380px;
  min-width: 250px;
  margin: 8px 8px 0px;
  position: relative;
  min-height: 120px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.section_header{
  width:100%;
  text-align: left;
  text-transform: capitalize;
  font-size: 1.3rem;
  color: #666666;
  padding: 8px 0 4px;
  border-bottom: 1px dashed #808080;
  margin-bottom: 10px;
}
/* ~~~~~~~~~~~~~~~~~~~~ EXPENSE DATA ~~~~~~~~~~~~~~~~~~~~ */
.cardDataContainer{
  width:100%;
	flex-flow: row nowrap;
	flex-flow: row nowrap;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 10px;
  margin-top: 16px;
  font-size: 1.1rem;
}
/* ~~~~~~~~~~~~~~~~~~~~ CARD ACTION BUTTONS - EDIT, DELETE, CANCEL, UPDATE ~~~~~~~~~~~~~~~~~~~~ */
.deleteRoundBtn, .cancelRoundBtn, .editRoundBtn, .saveRoundBtn {
  position: absolute;
  top:16px;
  background-color: #a6a6a6;
  color: #1a1a1a;
  -webkit-box-shadow: -0px 0px 12px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -0px 0px 12px rgba(0, 0, 0, 0.7);
  box-shadow: -0px 0px 12px rgba(0, 0, 0, 0.7);
}
.deleteRoundBtn, .cancelRoundBtn {
  left:16px;
}
.editRoundBtn, .saveRoundBtn{
  right:16px;
}
.deleteRoundBtn:hover,.deleteRoundBtn:focus{
  color: #fff;
  text-shadow: -0px 0px 25px #000;
  background-color: #ff0000;
}
.editRoundBtn:hover,.editRoundBtn:focus{
  background-color: #009933;
  color: #fff;
  text-shadow: -0px 0px 25px #1a1a1a;
}
.cancelRoundBtn:hover,.cancelRoundBtn:focus{
  color: #fff;
  text-shadow: -0px 0px 25px #1a1a1a;
  background-color: #1e90ff;
}
.saveRoundBtn:hover,.saveRoundBtn:focus{
  color: #fff;
  text-shadow: -0px 0px 25px #000;
  background-color: #009933;
}
.editRoundBtn{
  top: 17px;
  right: 10px;
}
.cancelRoundBtn {
  top: 17px;
  left:auto;
  right: 76px;
}
.saveRoundBtn{
  top: 17px;
  left:auto;
  right: 10px;
}
/* ~~~~~~~~~~~~~~~~~~~~ EXPENSE DATA TEXT ~~~~~~~~~~~~~~~~~~~~ */
.expense_data{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
  text-transform: capitalize;
  word-wrap: break-word;
  overflow-x: hidden;
  max-height: 70px;
}
/* ~~~~~~~~~~~~~~~~~~~~ EXPENSE DATA ICONS ~~~~~~~~~~~~~~~~~~~~ */
#amountIcon, #paymentIcon, #dateIcon, #timeIcon, #locationIcon, #storeIcon, #commentsIcon{
  display: block;
  height: 40px;
  width: 40px;
  margin-right: 8px;
  border-radius: 50%;
  color: #f5f5f5;
  background-color: #595959;
  -webkit-box-shadow: 0px 0px 8px rgba(255, 255, 255,0.5) inset;
  -moz-box-shadow: 0px 0px 8px rgba(255, 255, 255,0.5) inset;
  box-shadow: 0px 0px 8px rgba(255, 255, 255,0.5) inset;
  text-align: center;
}
#amountIcon{
  padding-top: 5.5px;
  padding-right: 4px;
  font-size: 1.8rem;
}
.cashpayment{
  padding-top: 9px;
  font-size: 1.4rem;
}
.cardpayment{
  padding-top: 9px;
  font-size: 1.35rem;
}
.mobilepayment{
  padding-top: 7px;
  font-size: 1.6rem;
}
.webpayment{
  padding-top: 7px;
  font-size: 1.6rem;
}
.checkpayment{
  padding-top: 10px;
  font-size: 1.2rem;
}
#dateIcon, #commentsIcon{
  padding-top: 7px;
  font-size: 1.5rem;
}
#commentsIcon{
  padding-top: 6px;
  font-size: 1.6rem;
}
#timeIcon{
  padding-top: 7px;
  font-size: 1.6rem;
}
#locationIcon{
  padding-top: 6px;
  font-size: 1.7rem;
}
#storeIcon{
  padding-top: 10px;
  font-size: 1.3rem;
}
/* ~~~~~~~~~~~~~~~~~~~~ EXPENSE DATA TEXT ~~~~~~~~~~~~~~~~~~~~ */
.expense_data{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
  text-transform: capitalize;
  word-wrap: break-word;
  overflow-x: hidden;
  max-height: 70px;
}
/* ~~~~~~~~~~~~~~~~~~~~ EXPENSE FORMS ~~~~~~~~~~~~~~~~~~~~ */
.expenseForm{
  width:100%;
  position: relative;
  padding: 15px 8px 0px;
}
#form_payment{
  padding-top: 16px;
}
.selectBoxContainer, .expenseFormSection, #category_select, #payment_select{
  width: 100%!important;
}
#expComments{
  height: 120px;
  border:2px dotted #4d4d4d;
}
.selectBoxContainer>.blobselect{
   border: none!important;
   border-bottom: 2px solid #1a1a1a!important;
 }
 #location_inpt_id, #store_inpt_id{
   text-transform: capitalize!important;
 }
/* ~~~~~~~~~~~~~~~~~~~~ CLOCK ~~~~~~~~~~~~~~~~~~~~ */
#grudus-clock{
  height: 100%;
  width:100%;
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1200;
}
#g-time-cancel, #g-time-submit{
  background-color: transparent!important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #009933!important;
}
#g-time-cancel:hover, #g-time-cancel:focus, #g-time-submit:hover, #g-time-submit:focus{
  background-color: #009933!important;
  color: #f4fffd!important;
}
/* ~~~~~~~~~~~~~~~~~~~~ CATEGORY ICONS ~~~~~~~~~~~~~~~~~~~~ */
.category_icon{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #f5f5f5;
  -webkit-box-shadow: 0px 0px 8px rgba(255, 255, 255,0.5) inset;
  -moz-box-shadow: 0px 0px 8px rgba(255, 255, 255,0.5) inset;
  box-shadow: 0px 0px 8px rgba(255, 255, 255,0.5) inset;
  height: 40px;
  width: 40px;
  margin: auto;
  margin-right: 10px;
  display: block;
}
.icon_bar{
  background-color: #ff6600;
}
.icon_bills{
  background-color: #b30000;
}
.icon_clothing{
  background-color: #476b6b;
  font-size: 1.4rem;
  padding-top: 9px;
  padding-left: 1px;
}
.icon_communication{
  background-color: #1e90ff;
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  font-size: 1.6rem;
  padding-top: 8px;
}
.icon_cosmetics{
  background-color: #ff6699!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
  background: url(../img/beauty.svg) center center no-repeat;
  display: inline-block;
  background-position:5px 6px!important;
  background-size: 26px!important;
}
.icon_donations{
  background-color: #9900cc;
}
.icon_education{
  background-color: #006699;
}
.icon_entertainment{
  background-color: #ffa500;
  font-size: 1.8rem;
  padding-top: 8px;
}
.icon_gifts{
  background-color: #ff884d;
  font-size: 1.6rem;
  padding-top: 6px;
}
.icon_health{
  background-color: #00802b;
}
.icon_housing{
  background-color: #b35900;
}
.icon_investments{
  background-color: #008060;
}
.icon_restaurant{
  background-color: #cc0000;
  font-size: 1.4rem;
  padding-top: 9px;
}
.icon_sports{
  background-color: #ff1a75;
  font-size: 1.6rem;
  padding-top: 9px;
}
.icon_supermarket{
  background-color: #ff4000;
  font-size: 1.4rem;
  padding-top: 10px;
}
.icon_technology{
  background-color: #1f4060;
  font-size: 1.3rem;
  padding-top: 8.5px;
}
.icon_transportation{
  background-color: #b38600;
}
.icon_traveling{
  background-color: #00994d;
  font-size: 1.4rem;
  padding-top: 10px;
}
.icon_vehicle{
  background-color: #262626;
}
.icon_miscellaneous{
  background-color: #734d26;
}
.icon_ettiquete {
  background-color: #2eb82e;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  font-size: 1.4rem;
  padding-top: 10px;
  padding-left: 2px;
}
/* ~~~~~~~~~~~~~~~~~~~~ CATEGORY ICONS COMMON ~~~~~~~~~~~~~~~~~~~~ */
.icon_bar, .icon_bills, .icon_education{
  font-size: 1.4rem;
  padding-top: 8px;
}
.icon_donations, .icon_investments{
  font-size: 1.4rem;
  padding-top: 8px;
  padding-left: 2px;
}
.icon_health, .icon_housing{
  font-size: 1.5rem!important;
  padding-top: 7px!important;
}
.icon_supermarket, .icon_miscellaneous{
  font-size: 1.4rem;
  padding-top: 10px;
}
.icon_transportation, .icon_vehicle{
  font-size: 1.5rem;
  padding-top: 8px;
}
/* ====================== Responsive Design with Media Queries ======================*/
@media screen and (max-width: 880px){
  #expenseCard{
    max-width: 700px;
    min-width: 250px;
  }
  .expenseCardSection{
    max-width: 300px!important;
    }
}
@media screen and (max-width: 720px){
  #expenseCard{
    max-width: 500px;
    min-width: 250px;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .expenseCardSection{
    max-width: 100%!important;
    width: 100%!important;
  }
  .expenseFormSection{
    max-width: 300px;
  }
  .commentsFormSection{
    max-width: 100%!important;
    width: 100%!important;
  }
}
