@charset "utf-8";
/* CSS Document */
/* ~~~~~~~~~~~~~~~~~~~~ FORM ~~~~~~~~~~~~~~~~~~~~ */
.form_style{
  width: 100%;
  height: auto;
  flex-flow: column nowrap;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 1px rgba(0, 0, 0, 0.2), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  border: 1px dashed #009933;
  position: relative;
}
/* ~~~~~~~~~~~~~~~~~~~~ FORM TAG ~~~~~~~~~~~~~~~~~~~~ */
.form_tag{
  width: 100%;
  margin-bottom: 10px;
  color: #009933;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: left;
}
.form_tag>i{
  font-size: 1rem;
  font-weight: bold;
  display: block;
  width: 100%;
  padding: 5px 0;
  color: #1a1a1a;
}
/* ~~~~~~~~~~~~~~~~~~~~ LABELS ~~~~~~~~~~~~~~~~~~~~ */
.errorLabel{
  display: block;
  width: 100%;
  text-align: center;
  padding: 8px;
  min-height: 30px;
  background-color: #dd2622;
  color: #f4fffd;
  outline: none;
  margin-top: 4px;
}
/* ~~~~~~~~~~~~~~~~~~~~ BASIC INPUTS ~~~~~~~~~~~~~~~~~~~~ */
.formInputs{
  border: none;
  border-bottom: 2px solid #1a1a1a;
  display: block;
  width: 100%;
  outline: none;
  height: 36px;
  padding: 6px;
  font-size: 1.1rem;
  margin-top: 25px;
}
.formInputs:first-of-type{
  margin-top: 5px;
}
.formInputs:focus,.formInputs:hover{
  border-color:#009933!important;
  color: #009933;
}
/* ---------- Placeholder Color For Chrome/Opera/Safari/Firefox ---------- */
.formInputs::-webkit-input-placeholder{color: #808080;}
.formInputs::-moz-placeholder{color: #808080;}
.formInputs:-moz-placeholder {color: #808080;}
.formInputs:-ms-input-placeholder{color: #808080;}
/* ---------- Placeholder Focus & Hover ---------- */
.formInputs:focus::-webkit-input-placeholder {color: #009933;}
.formInputs:focus:-moz-placeholder{color: #009933;}
.formInputs:focus::-moz-placeholder{color: #009933;}
.formInputs:focus:-ms-input-placeholder{color: #009933;}
.formInputs:hover::-webkit-input-placeholder{color: #009933;}
.formInputs:hover:-moz-placeholder{color: #009933;}
.formInputs:hover::-moz-placeholder{color: #009933;}
.formInputs:hover:-ms-input-placeholder{color: #009933;}
/* ~~~~~~~~~~~~~~~~~~~~ FORM BUTTONS ~~~~~~~~~~~~~~~~~~~~ */
.formBtn {
  font-size: 1.2rem;
  background-color: #1a1a1a;
  color: #f4fffd;
  width: 100%;
  margin-top: 30px;
}
.btn_viewpass{
  position: absolute;
  right: 0;
  top: 5px;
  height: 36px!important;
  width: 36px!important;
  font-size: 1.25rem;
  background-color: #4d4d4d;
  color: #f4fffd;
  border-radius: 10px;
  text-shadow: -2px 2px 20px rgba(0, 0, 0, 0.8);
}
.formBtn:focus,.formBtn:hover, .btn_viewpass:hover,.btn_viewpass:focus{
  background-color: #009933;
  text-shadow: -2px 2px 5px #000;
}
.cookie_container {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 1px;
  cursor: pointer;
  font-size: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:#262626;
  font-size: 1.2rem;
  margin-top: 25px;
  outline: none!important;
  height: 27px;
}
.cookie_container input {
  position: absolute;
  opacity: 0;
  height: 24px;
  cursor: pointer;
  outline: none!important;
  top: -4px;
  left: 0;
}
.cookie_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f4fffd;
  border: 2px solid #1a1a1a;
}
.cookie_container:hover input ~ .cookie_checkmark,.cookie_container:focus input ~ .cookie_checkmark {
  border-color: #009933;
}
.cookie_container:hover,.cookie_container:focus{
  color: #009933;
}
.cookie_container input:checked ~ .cookie_checkmark {
  background-color: #1a1a1a;
}
.cookie_container:hover input:checked ~ .cookie_checkmark, .cookie_container:focus input:checked ~ .cookie_checkmark {
  background-color: #009933;
  border-color: #009933;
}
.cookie_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.cookie_container input:checked ~ .cookie_checkmark:after {
  display: block;
}
.cookie_container .cookie_checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #f4fffd;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.password_container{
  width: 100%;
  position: relative;
  padding-right: 60px;
  margin-top: 25px;
}




















/**/
