
.goalCard{
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 1px rgba(0, 0, 0, 0.2), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  min-width: 250px;
  width: 100%;
  max-width: 330px;
  padding: 16px;
  margin: 10px;
  min-height: 250px;
  display: flex;
  flex-flow: row wrap;
  Justify-content: flex-start;
  align-items: center;
}
.goalCard_header{
  font-size: 1.4rem;
  font-weight: 600;
  padding: 8px;
  color: #333333;
  width: 100%;
  margin-bottom: 16px;
}
.goal_target{
  display: inline-block;
  margin-right: 10px;
  font-size: 28px;
}

/* ~~~~~~~~~~~~~~~~~~~~ GOAL CARD TEXTS ~~~~~~~~~~~~~~~~~~~~ */
.goal_category{
  height: 40px;
  line-height: 40px;
  width: 100%;
  font-size: 1.2rem;
  flex: 1;
  text-align: left;
  text-transform: capitalize;
  overflow: hidden;
}
.goal_spend{
  width: 100%;
  font-size: 1.2rem;
  text-align: left;
  font-style: oblique;
  padding: 8px 0 4px;
  border-bottom: 2px dashed #a6a6a6;
  color: #666666;
  margin-bottom: 10px;
  margin-top: 2px;
}
.goaledit_form{
  margin: 0px;
  margin-top: -5px;
  width: 100%;
  max-width: 100%;
  padding: 0 8px;
}
/* ~~~~~~~~~~~~~~~~~ SORTING BUTTONS ~~~~~~~~~~~~~~~~~*/
.sort_btns_wrapper{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
.sortBtn{
  width: 90px;
  height: 90px;
  font-size: 1rem;
  border-radius: 20px;
  color: #f4fffd;
  background-color: #333333;
  margin: 16px 20px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 1px rgba(0, 0, 0, 0.2), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  display: block;
}
.sortBtn:hover, .sortBtn:focus{
  background-color: rgba(0, 230, 77, 0.5);
  color: #333333;
}
.sortIcon{
  font-size: 1.4rem;
  display: block;
}
.sort_indicator{
  display: block;
  text-transform: uppercase;
  padding: 8px 8px 0px;
}
.sort_tag{
  display: block;
  font-weight: 600;
}
.sorting_tag{
  height: 90px;
  margin: 16px;
  font-size: 1.3rem;
  font-weight: 600;
  font-style: oblique;
  line-height: 90px;
  color: #333333;
}
/* ~~~~~~~~~~~~~~~~~~~~ CATEGORY ICONS ~~~~~~~~~~~~~~~~~~~~ */
.category_icon{
  border-radius: 50%;
  color: #f5f5f5;
  box-shadow: 0px 0px 8px rgba(255, 255, 255,0.5) inset;
  width: 48px;
  height: 48px;
  margin: auto;
  margin-right: 10px;
  display: block;
}
.icon_bar{
  background-color: #ff6600;
}
.icon_bills{
  background-color: #b30000;
}
.icon_clothing{
  background-color: #476b6b;
  font-size: 1.6rem;
  padding-top: 11px;
  padding-left: 1px;
}
.icon_communication{
  background-color: #1e90ff;
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  font-size: 2rem;
  padding-top: 8px;
  padding-left: 2px;
}
.icon_cosmetics{
  background-color: #ff6699!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
  background: url(../img/beauty.svg) center center no-repeat;
  display: inline-block;
  background-position: 6px 8px!important;
  background-size: 30px!important;
}
.icon_donations{
  background-color: #9900cc;
}
.icon_education{
  background-color: #006699;
}
.icon_entertainment{
  background-color: #ffa500;
  font-size: 1.8rem;
  padding-top: 8px;
}
.icon_gifts{
  background-color: #ff884d;
  font-size: 2rem;
  padding-top: 6px;
}
.icon_health{
  background-color: #00802b;
}
.icon_housing{
  background-color: #b35900;
}
.icon_investments{
  background-color: #008060;
}
.icon_restaurant{
  background-color: #cc0000;
  font-size: 1.8rem;
  padding-top: 10px;
}
.icon_sports{
  background-color: #ff1a75;
  font-size: 2rem;
  padding-top: 9px;
}
.icon_supermarket{
  background-color: #ff4000;
}
.icon_technology{
  background-color: #1f4060;
  font-size: 1.6rem;
  padding-top: 9px;
}
.icon_transportation{
  background-color: #b38600;
}
.icon_traveling{
  background-color: #00994d;
  font-size: 1.5rem;
  padding-top: 13px;
}
.icon_vehicle{
  background-color: #262626;
}
.icon_miscellaneous{
  background-color: #734d26;
}
.icon_ettiquete {
  background-color: #2eb82e;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  font-size: 1.6rem;
  padding-top: 12px;
  padding-left: 2px;
}
/* ~~~~~~~~~~~~~~~~~~~~ CATEGORY ICONS COMMON ~~~~~~~~~~~~~~~~~~~~ */
.icon_bar, .icon_bills, .icon_education{
  font-size: 1.6rem;
  padding-top: 10px;
}
.icon_donations, .icon_investments{
  font-size: 1.6rem;
  padding-top: 9px;
  padding-left: 2px;
}
.icon_health, .icon_housing{
  font-size: 1.8rem!important;
  padding-top: 8px!important;
}
.icon_supermarket, .icon_miscellaneous{
  font-size: 1.6rem;
  padding-top: 12px;
}
.icon_transportation, .icon_vehicle{
  font-size: 1.7rem;
  padding-top: 10px;
}
