@charset "utf-8";
/* CSS Document */
#main{
  padding: 0px!important;
  background-color: #f5f5f5!important;
  margin: 0px!important;
}
.fas.fa-pencil-alt{
  font-size: 20px;
  padding-left: 1px;
}
.fas.fa-trash-alt{
  font-size: 22px;
}
.fas.fa-save{
  font-size: 22px;
}
.flexRowWrapStartCenter{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  text-align: center;
}
.flexRowNoWrapStartCenter{
  display: flex;
	flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.flexColumnCenter{
  display: flex;
	flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
/* ~~~~~~~~~~~~~~~~~~~~ MAIN OPTIONS ~~~~~~~~~~~~~~~~~~~~ */
#homeOptionsContainer{
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 153, 51, 0.15);
  flex-flow: row wrap;
  margin-bottom: 20px;
}
#addExpenseBtn{
  width: 88px;
  height: 88px;
  text-decoration: none!important;
  padding: 8px;
  margin: 16px;
  background-color: #1f601f;
  color: #f4fffd;
}
#plustxt_expense_add{
  display: block;
  font-size: 1.3rem;
  padding: 4px 8px;
  margin-top: 5px;
}
.setBudgetWallet.fas.fa-wallet{
  margin-right: 10px;
  font-size: 1.4rem;
}
#addExpenseBtn>i{
  display: block;
  margin: auto;
  font-size: 1.5rem;
  margin-bottom: 8px;
}
#addExpenseBtn>span{
  font-size: 1rem;
}
#addExpenseBtn:hover, #addExpenseBtn:focus{
  color: #fff;
  background-color: #00e600;
  color: #1a1a1a;
}
.budgetWeekFilterContainer{
  margin: 20px 30px;
  max-width: 275px;
}
.budget_filter_tag{
  display: block;
  font-size: 1.3rem;
  text-align: left;
  margin-bottom: 5px;
  padding: 0 0 10px;
  font-style: oblique;
}
.budgetWeekFilterContainer>.blobselect{
  width:100%;
  width:275px!important;
}
.blobselect-items{
  max-height: 300px;
}
.blobselect-item{
  padding-right: 20px;
}
/* ~~~~~~~~~~~~~~~~~~~~ MAIN CONTAINERS ~~~~~~~~~~~~~~~~~~~~ */
#statisticsView{
  min-height: 100vh!important;
  width: 100%;
  background-color: inherit;
  padding-bottom: 100px;
}
#goalOverviewContainer, #categoriesOverviewContainer, #paymentsOverviewContainer, #dailyOverviewContainer{
  width: 100%;
  background-color: inherit;
  position: relative;
  margin-top:40px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ALL WEEKS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.allWeeksContainers{
  height: auto;
  width: 100%;
  background-color: inherit;
  padding-bottom: 20px;
}
.sectionHeaderAll{
  width: 100%;
  text-shadow: -2px 2px 20px #999999;
  color: #f5f5f5;
  padding-bottom: 4px;
  padding: 16px;
  font-size: 1.4rem;
  background-color: #262626;
  margin-bottom: 16px;
  font-weight: 400;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~ ADDITIONAL ELEMENTS ~~~~~~~~~~~~~~~~~~~~~~~~ */
.firstbudgetindicator{
  font-size: 1rem;
  color: #0d0d0d;
}
.ondateindicator{
  color: #009933;
}
#no_expense_indicator, #no_goals_indicator{
  width: 100%;
  font-size: 1.3rem;
  font-weight: 600;
  color: #4d4d4d;
  font-style: oblique;
  margin-top: 50px;
  word-wrap: break-word;
  padding: 20px;
}
#no_goals_indicator{
  margin-bottom: 20px;
}
#addGoalBtn{
  padding-top: 24px;
}
/* ====================== Responsive Design with Media Queries ======================*/
@media screen and (max-width: 965px) {
  .budgetOverviewCard, .expOverviewCard{
    max-width: 500px!important;
  }
}
@media screen and (max-width: 785px) {
  .card.dailyOverviewCard{
    max-width: 300px!important;
  }
}
@media screen and (max-width: 665px) {
  .card.dailyOverviewCard{
    max-width: 280px!important;
  }
}
@media screen and (max-width: 625px) {
  .card.dailyOverviewCard{
    max-width: 450px!important;
  }
  .card.paymentOverviewCard, .card.categoryOverviewCard{
    max-width: 450px!important;
  }
  .card.goalOverviewCard{
    max-width: 450px!important;
  }
}
@media screen and (max-width: 549px) {
  .budget_filter_tag{
    padding-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  .sectionHeader{
    text-align: left;
    padding-left: 20px;
    padding-right: 130px;
  }
}
@media screen and (max-width: 480px) {
  .secondaryFeedbackIcon.success{
    background-position: -190px 0px!important;
  }
}
@media screen and (max-width: 400px) {
  .feedbackOverviewHeader{
    font-size: 1.1rem;
  }
  .feedbackCard{
    max-width: 300px;
  }
  .thirdFeedbackIcons{
    flex: 1 1 300px;
    height: auto;
  }
  .thirdOne.success{
    background-size: 280px!important;
    height:140px;
  }
  .thirdTwo.success{
    background-size: 280px!important;
    height:140px;
  }
  .secondaryFeedbackIcon.fail{
    flex: 1 1 300px;
    background-size: 280px!important;
  }
  .thirdOne.fail{
    background-size: 290px!important;
    height:130px;
  }
  .thirdTwo.fail{
    background-position: 0px -5px!important;
    background-size: 275px!important;
    height:130px;
  }
}
@media screen and (max-width: 340px) {
  .chartContainer{
    padding: 0 10px;
  }
  .chartOptionContainer>.blobselect{
    width:280px!important;
  }
}
@media screen and (max-width: 325px) {
  .feedbackOverviewHeader{
    font-size: 1rem;
  }
}
