@charset "utf-8";
/* CSS Document */
.fas.fa-pencil-alt{
  font-size: 20px;
  padding-left: 1px;
}
.fas.fa-trash-alt{
  font-size: 22px;
}
.fas.fa-save{
  font-size: 22px;
}
#main{
  padding: 0px;
  padding-bottom: 80px;
}
.section_filter_sort{
  width: 100%;
}
#options_wrapper{
  text-align: center;
  height: auto;
  background-color: rgba(0, 153, 51, 0.15);
  padding-bottom: 16px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SECTION HEADERS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.section_filter_sort>h3{
  width: 100%;
  text-shadow: -2px 2px 20px #999999;
  color: #0d0d0d;
  padding: 16px;
  font-size: 1.4rem;
  position: relative;
}
.section_filter_sort>h3>span{
  display: inline-block;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~ TOGGLE OPTIONS BUTTONS ~~~~~~~~~~~~~~~~~~~~~~~~~ */
.sort_toggle_btn{
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 24px;
  color: #f4fffd;
  text-shadow: -0px 0px 25px #bfbfbf;
  background-color: #1a1a1a;
  -webkit-box-shadow: -0px 0px 15px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -0px 0px 15px rgba(0, 0, 0, 0.7);
  box-shadow: -0px 0px 15px rgba(0, 0, 0, 0.7);
}
.sort_toggle_btn:hover, .sort_toggle_btn:focus{
  color: #fff;
  background-color: #00802b;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FILTERS SECTIONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.filters_wrapper, .sort_btns_wrapper{
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SWITCHERS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.switch_container{
  padding: 16px 16px 12px;
  width: auto;
}
.switch_label{
  display: block;
  padding-right: 20px;
  font-size: 1.2rem;
  text-align: right;
  font-weight: 600;
  cursor: pointer;
}
.switch_button{
  width: 60px;
  height: 16px;
  display: block;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: relative;
}
.switch_button.unswitced{
  background-color: #595959;
}
.switch_button.switced{
  background-color: #006622;
}
.switch_indicator{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: block;
  position: absolute;
  top: -7px;
  left: -2px;
  -webkit-box-shadow: -0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: -0px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.switch_indicator.unswitced{
  background-color: #808080;
  background: -webkit-radial-gradient(#fff, #808080 80%, #fff);
  background: -o-radial-gradient(#fff, #808080 80%, #fff);
  background: -moz-radial-gradient(#fff, #808080 80%, #fff);
  background: radial-gradient(#fff, #808080 80%, #fff);
  background-image: radial-gradient(#fff, #808080 80%, #fff);
}
.switch_indicator.switced{
  background-color: #009933;
  background: -webkit-radial-gradient(#66ff99, #009933 80%, #66ff99);
  background: -o-radial-gradient(#66ff99, #009933 80%, #66ff99);
  background: -moz-radial-gradient(#66ff99, #009933 80%, #66ff99);
  background: radial-gradient(#66ff99, #009933 80%, #66ff99);
  background-image: radial-gradient(#66ff66, #009933 80%, #66ff66);
  -moz-transform: translateX(36px);
  -o-transform: translateX(36px);
  -webkit-transform: translateX(36px);
  transform: translateX(36px);
}
.switch_indicator:focus, .switch_indicator:hover{
  background-image: radial-gradient(#fff, #fff 80%, #fff);
  background-color: #fff!important;
  outline: none;
}
.switch_button:hover .switch_indicator, .switch_button:focus .switch_indicator{
  background-image: radial-gradient(#fff, #fff 80%, #fff);
  background-color: #fff!important;
}
.switch_button:hover, .switch_button:focus {
  background-color: rgba(0, 128, 0, 0.8)!important;
}
.switch_button:focus-within {
  background-color: rgba(0, 128, 0, 0.8)!important;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FILLTERS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#filtersContainer_basic, #filtersContainer_amounts{
  width: 100%;
  padding: 8px 0px;
}
#filtersContainer_amounts{
  margin-top: -16px;
}
.oneFilterContainer{
  min-width: 160px;
  margin: 8px 16px;
}
.categorySelectContainer, .locationSelectContainer, .storeSelectContainer, .paymentSelectContainer{
  width: 220px;
}
.select_tag{
  font-size: 1.2rem;
  text-align: left;
  display: block;
  text-transform: capitalize;
  padding-bottom: 4px;
  padding-left: 4px;
}
.goalSelectContainer, .goalSelectContainer>.blobselect{
  width: 100%!important;
  max-width: 800px!important;
}
.filters_wrapper.goals_filters{
  max-width: 800px!important;
  margin: auto!important;
}
/* ~~~~~~~~~~~~~~~~~~~~ SORTING SECTION ~~~~~~~~~~~~~~~~~~~~ */
.section_header.sorting{
  padding-left: 70px;
  padding-right: 70px;
}
#sorting_wrapper{
  background-color: rgba(0, 153, 51, 0.14);
}
.sort_selected{
  width: 100%;
  font-style: italic;
  font-size: 1.3rem;
  padding: 16px 16px 4px;
  color: #0d0d0d;
  border-bottom: 2px dashed #1a1a1a;
}
.sort_selected>span{
  display: inline-block;
  font-size: 1.1rem;
  font-style: oblique;
}
/* ~~~~~~~~~~~~~~~~~ SORTING BUTTONS ~~~~~~~~~~~~~~~~~*/
.sortBtn{
  width: 90px;
  height: 90px;
  font-size: 1rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #f4fffd;
  background-color: #333333;
  margin: 16px 20px;
  -webkit-box-shadow:  0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 1px rgba(0, 0, 0, 0.2), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:  0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 1px rgba(0, 0, 0, 0.2), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 1px rgba(0, 0, 0, 0.2), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.sortBtn:hover, .sortBtn:focus{
  background-color: #fff;
  color: #333333;
}
.sortIcon{
  font-size: 1.4rem;
  display: block;
}
.sort_indicator{
  display: block;
  text-transform: uppercase;
  padding: 8px 8px 0px;
}
.sort_tag{
  display: block;
  font-weight: 600;
}
/*~~~~~~~~~~~~~~ SELECTED SORTING OPTIONS ~~~~~~~~~~~~~~*/
#selectedSortContainer{
  width: 100%;
}
/* ----- selected sort options list ----- */
#selectedSortOptions{
  width: 100%;
  list-style-position: inside;
  font-weight: 600;
  margin:0!important;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
/* ----- sorting card ----- */
.sortCard{
  background-color: #f5f5f5;
  margin: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-box-shadow:  0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:  0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  font-size: 1.15rem;
  position: relative;
  padding: 10px 36px 10px 10px;
}
.sortoptcard_sortopt{
  padding-right: 8px;
  font-weight: 400;
  text-transform: capitalize;
  display: inline-block;
  width: 95px;
  text-align: center;
}
.sortoptcard_ordertype{
  width: 56px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 8px;
  border-right: 2px solid #009933;
  font-weight: 600;
}
.removeSortBtn{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 6px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: inherit;
  color: #595959!important;
}
.removeSortBtn:hover,.removeSortBtn:focus {
  background-color: #009933;
  color: #fff!important;
  text-shadow: 0px 0px 15px #000;
}
/*~~~~~~~~~~~~~~ SORTING BUTTONS CLEAR OPTIONS & APPLY SORTING ~~~~~~~~~~~~~~*/
#sortActionBtnContainer{
  padding: 16px 0;
}
.sortActionBtn{
  background-color: #1f601f;
  color: #f4fffd;
  font-size: 1.15rem;
  width: 140px;
  margin: 0 20px;
}
.sortActionBtn:hover,.sortActionBtn:focus{
  background-color: #1f601f;
  color: #f4fffd;
  font-size: 1.15rem;
  color: #fff;
  text-shadow: -2px 2px 5px #000;
  background-color: #29a329;
}
/*~~~~~~~~~~~~~~ MESSAGE FOR NO ITEMS TO DISPLAY ~~~~~~~~~~~~~~*/
.noItemsMessage{
  width: 100%;
  padding: 32px 16px 32px;
  font-weight: 600;
  font-size: 1.2rem;
}
.delete_expense_msg{
  font-style: italic;
  font-size: 1.4rem;
  width: 100%;
  text-align: center;
  padding: 70px 0;
}
#expensesContainer{
  width: 100%;
}
#expenses_msg{
  padding: 50px;
  font-size: 1.4rem;
  font-style: italic;
  color: #4d4d4d;
}
#expensesList{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  padding: 16px;
}
.expenseCard, .summaryCard{
  background-color: #fff;
  -webkit-box-shadow:  0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 1px rgba(0, 0, 0, 0.2), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:  0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 1px rgba(0, 0, 0, 0.2), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 1px rgba(0, 0, 0, 0.2), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  Justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-width: 280px;
  min-height: 275px;
  margin: 8px;
  padding: 8px;
  padding: 16px;
}
.expenseCard{
  max-width: 300px;
}
.summaryCard{
 padding: 10px 16px!important;
}
#goalSummaryCard{
 max-width: 380px!important;
}
#expensesSummaryCard{
 max-width: 380px!important;
}
#expensesSummaryCard>.summary_section>.summary_tag{
  width: 150px;
}
#goalSummaryCard>.summary_header{
  margin-left: 45px!important;
}
.summary_header{
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  margin: auto;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
  color: #333333;
  margin-bottom: 6px;
  padding-bottom: 6px;
  padding-top: 8px;
  border-bottom: 2px dashed #333333;
}
.summary_section{
  width: 100%;
  font-size: 1.2rem;
  padding: 9px;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  Justify-content: flex-start;
}
.summary_tag{
  font-weight: 600;
  width: 98px;
  font-size: 1.15rem;
  text-align: right;
  padding-right: 8px;
  border-right: 2px solid #009933;
  margin-right: 10px;
  text-transform: capitalize;
}
.goal_createday, .goal_createtime{
  display: inline-block;
  padding: 0 4px;
}
.goalSummaryIcon{
  position: absolute;
  top:12px;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  padding-top: 8px;
  padding-right: 2px;
}
.goalSummaryIcon.success, .goalSummaryIcon.balance{
  background-color: #009933;
}
.goalSummaryIcon.fail{
  background-color: #ff0000;
}
.summary_data{
  font-size: 1.1rem;
  -webkit-box-flex: 1 0 150px;
  -webkit-flex: 1 0 150px;
  -ms-flex: 1 0 150px;
  flex: 1 0 150px;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
  height: auto;
  text-transform: capitalize;
}
.deleteRoundBtn{
  position: absolute;
  top: 16px;
  left:auto;
  right: 16px;
  -webkit-box-shadow: -0px 0px 12px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -0px 0px 12px rgba(0, 0, 0, 0.7);
  box-shadow: -0px 0px 12px rgba(0, 0, 0, 0.7);
}
.deleteRoundBtn:hover,.deleteRoundBtn:focus{
  color: #fff;
  text-shadow: -0px 0px 25px #000;
  background-color: #ff0000;
}
.expense_header{
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
  text-align: left;
  height: auto;
  margin-bottom: 16px;
  padding-right: 40px;
}
.index_header{
  width: 100%;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 8px 4px 0;
  margin-bottom: 4px;
}
.expense_date, .expense_time{
  display: inline-block;
  font-size: 1.15rem;
  letter-spacing: 1px;
  padding: 0px 10px 0px 4px;
  color: #262626;
}
.expense_date{
  border-right: 2px solid #009933;
}
.expense_time{
  padding-left: 10px;
}
.category_text{
  height: 40px;
  line-height: 40px;
  width: 100%;
  font-size: 1.2rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
  text-transform: capitalize;
  overflow: hidden;
}
.expenseAmountContainer{
  width: 100%;
  margin-top: 16px;
  height: auto;
}
.expense_eurosign{
  display: block;
  width: 45px;
  height: 36px;
  margin-right: 16px;
  font-size: 1.8rem;
  line-height: 34px;
  color: #4d4d4d;
  text-align: right;
  padding-right: 16px;
  padding-top: 2px;
  border-right: 2px solid #009933;
}
.expense_amount_payment{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}
.expense_amount{
  display: block;
  font-size: 1.2rem;
}
.expense_payment{
  display: block;
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-style: oblique;
  color: #808080;
}
.expenseDetailsBtn{
  text-decoration: none!important;
  display: block;
  font-size: 1.2rem;
  padding: 8px 12px;
  min-width: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  color: #f4fffd;
  background-color: #194d19;
  -webkit-box-shadow:  0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 1px rgba(0, 0, 0, 0.2), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:  0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 1px rgba(0, 0, 0, 0.2), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 1px rgba(0, 0, 0, 0.2), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.expenseDetailsBtn:hover,.expenseDetailsBtn:focus{
  background-color: #009933;
  color: #fff;
  text-shadow: -2px 2px 5px #000;
}
/* ~~~~~~~~~~~~~~~~~~~~ CATEGORY ICONS ~~~~~~~~~~~~~~~~~~~~ */
.category_icon{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #f5f5f5;
  -webkit-box-shadow: 0px 0px 8px rgba(255, 255, 255,0.5) inset;
  -moz-box-shadow: 0px 0px 8px rgba(255, 255, 255,0.5) inset;
  box-shadow: 0px 0px 8px rgba(255, 255, 255,0.5) inset;
  width: 48px;
  height: 48px;
  margin: auto;
  margin-right: 10px;
  display: block;
}
.icon_bar{
  background-color: #ff6600;
}
.icon_bills{
  background-color: #b30000;
}
.icon_clothing{
  background-color: #476b6b;
  font-size: 1.6rem;
  padding-top: 11px;
  padding-left: 1px;
}
.icon_communication{
  background-color: #1e90ff;
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  font-size: 2rem;
  padding-top: 8px;
  padding-left: 2px;
}
.icon_cosmetics{
  background-color: #ff6699!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
  background: url(../img/beauty.svg) center center no-repeat;
  display: inline-block;
  background-position: 6px 8px!important;
  background-size: 30px!important;
}
.icon_donations{
  background-color: #9900cc;
}
.icon_education{
  background-color: #006699;
}
.icon_entertainment{
  background-color: #ffa500;
  font-size: 1.8rem;
  padding-top: 8px;
}
.icon_gifts{
  background-color: #ff7733;
  font-size: 2rem;
  padding-top: 6px;
}
.icon_health{
  background-color: #00802b;
}
.icon_housing{
  background-color: #b35900;
}
.icon_investments{
  background-color: #008060;
}
.icon_restaurant{
  background-color: #cc0000;
  font-size: 1.8rem;
  padding-top: 10px;
}
.icon_sports{
  background-color: #ff1a75;
  font-size: 2rem;
  padding-top: 9px;
}
.icon_supermarket{
  background-color: #cc3300;
}
.icon_technology{
  background-color: #1f4060;
  font-size: 1.6rem;
  padding-top: 9px;
}
.icon_transportation{
  background-color: #b38600;
}
.icon_traveling{
  background-color: #00994d;
  font-size: 1.5rem;
  padding-top: 13px;
}
.icon_vehicle{
  background-color: #262626;
}
.icon_miscellaneous{
  background-color: #734d26;
}
.icon_ettiquete {
  background-color: #2eb82e;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  font-size: 1.6rem;
  padding-top: 12px;
  padding-left: 2px;
}
/* ~~~~~~~~~~~~~~~~~~~~ CATEGORY ICONS COMMON ~~~~~~~~~~~~~~~~~~~~ */
.icon_bar, .icon_bills, .icon_education{
  font-size: 1.6rem;
  padding-top: 10px;
}
.icon_donations, .icon_investments{
  font-size: 1.6rem;
  padding-top: 9px;
  padding-left: 2px;
}
.icon_health, .icon_housing{
  font-size: 1.8rem!important;
  padding-top: 8px!important;
}
.icon_supermarket, .icon_miscellaneous{
  font-size: 1.6rem;
  padding-top: 12px;
}
.icon_transportation, .icon_vehicle{
  font-size: 1.7rem;
  padding-top: 10px;
}
/* ====================== Responsive Design with Media Queries ======================*/
@media screen and (max-width: 1400px){
  #filtersContainer_basic{
    max-width: 800px;
    margin: auto;
  }
}
@media screen and (max-width: 910px){
  .sort_btns_wrapper{
    max-width: 600px;
    margin: auto;
  }
}
@media screen and (max-width: 459px){
  .switch_container{
    width: 270px;
  }
  .switch_label{
    width: 180px;
    text-align: left;
  }
}
@media screen and (max-width: 415px){
  #goalSummaryCard>.summary_section>.summary_data{
    -webkit-box-flex: none!important;
    -webkit-flex: none!important;
    -ms-flex: none!important;
    flex: none!important;
    width: 110px!important;
  }
  #goalSummaryCard>.summary_section>.summary_tag{
    height: 42px;
    line-height: 38px;
  }
  #goalSummaryCard>.summary_section:nth-child(5)>.summary_tag{
    line-height:20px!important;
    padding-top: 2px;
  }
}
@media screen and (max-width: 384px){
  .oneFilterContainer{
    width: 280px!important;
  }
}
@media screen and (max-width: 369px){
  .sortActionBtn{
    background-color: #1f601f;
    color: #f4fffd;
    font-size: 1.15rem;
    width: 200px;
    margin: 0px;
  }
  .sortActionBtn:nth-of-type(1){
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 350px){
  #expensesSummaryCard>.summary_section>.summary_data{
    -webkit-box-flex: 1 0 120px;
    -webkit-flex: 1 0 120px;
    -ms-flex: 1 0 120px;
    flex: 1 0 120px;
  }
}
