@charset "utf-8";
/* CSS Document */
.fas.fa-pencil-alt{
  font-size: 20px;
  padding-left: 1px;
}
.fas.fa-trash-alt{
  font-size: 22px;
}
.fas.fa-save{
  font-size: 22px;
}
#main{
  padding: 0px;
  padding-bottom: 80px;
}
.section_filter_sort{
  width: 100%;
}
#options_wrapper{
  text-align: center;
  height: auto;
  background-color: rgba(0, 153, 51, 0.15);
  padding-bottom: 16px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SECTION HEADERS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.section_filter_sort>h3{
  width: 100%;
  text-shadow: -2px 2px 20px #999999;
  color: #0d0d0d;
  padding: 16px;
  font-size: 1.4rem;
  position: relative;
}
.section_filter_sort>h3>span{
  display: inline-block;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~ TOGGLE OPTIONS BUTTONS ~~~~~~~~~~~~~~~~~~~~~~~~~ */
.sort_toggle_btn{
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 24px;
  color: #f4fffd;
  text-shadow: -0px 0px 25px #bfbfbf;
  background-color: #1a1a1a;
  box-shadow: -0px 0px 15px rgba(0, 0, 0, 0.7);
}
.sort_toggle_btn:hover, .sort_toggle_btn:focus{
  color: #fff;
  background-color: #00802b;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FILTERS SECTIONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.filters_wrapper, .sort_btns_wrapper{
  width: 100%;
  height: auto;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
/*~~~~~~~~~~~~~~ MESSAGE FOR NO ITEMS TO DISPLAY ~~~~~~~~~~~~~~*/
.noItemsMessage{
  width: 100%;
  padding: 32px 16px 32px;
  font-weight: 600;
  font-size: 1.2rem;
}
.delete_expense_msg{
  font-style: italic;
  font-size: 1.4rem;
  width: 100%;
  text-align: center;
  padding: 70px 0;
}
#expensesContainer{
  width: 100%;
}
#expenses_msg{
  padding: 50px;
  font-size: 1.4rem;
  font-style: italic;
  color: #4d4d4d;
}
#expensesList{
  width: 100%;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 16px;
}
.expenseCard, .summaryCard{
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 1px rgba(0, 0, 0, 0.2), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  Justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-width: 280px;
  min-height: 275px;
  margin: 8px;
  padding: 8px;
  padding: 16px;
}
.expenseCard{
  max-width: 300px;
}
.summaryCard{
 padding: 10px 16px!important;
}
#goalSummaryCard{
 max-width: 380px!important;
}
#expensesSummaryCard{
 max-width: 380px!important;
}
#expensesSummaryCard>.summary_section>.summary_tag{
  width: 150px;
}
#goalSummaryCard>.summary_header{
  margin-left: 45px!important;
}
.summary_header{
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  margin: auto;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
  color: #333333;
  margin-bottom: 6px;
  padding-bottom: 6px;
  padding-top: 8px;
  border-bottom: 2px dashed #333333;
}
.summary_section{
  width: 100%;
  font-size: 1.2rem;
  padding: 9px;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  Justify-content: flex-start;
}
.summary_tag{
  font-weight: 600;
  width: 98px;
  font-size: 1.15rem;
  text-align: right;
  padding-right: 8px;
  border-right: 2px solid #009933;
  margin-right: 10px;
  text-transform: capitalize;
}
.goal_createday, .goal_createtime{
  display: inline-block;
  padding: 0 4px;
}
.goalSummaryIcon{
  position: absolute;
  top:12px;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  border-radius: 50%;
  color: #fff;
  padding-top: 8px;
  padding-right: 2px;
}
.goalSummaryIcon.success, .goalSummaryIcon.balance{
  background-color: #009933;
}
.goalSummaryIcon.fail{
  background-color: #ff0000;
}
.summary_data{
  font-size: 1.1rem;
  flex: 1 0 150px;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
  height: auto;
  text-transform: capitalize;
}
.deleteRoundBtn{
  position: absolute;
  top: 16px;
  left:auto;
  right: 16px;
  box-shadow: -0px 0px 12px rgba(0, 0, 0, 0.7);
}
.deleteRoundBtn:hover,.deleteRoundBtn:focus{
  color: #fff;
  text-shadow: -0px 0px 25px #000;
  background-color: #ff0000;
}
.expense_header{
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
  text-align: left;
  height: auto;
  margin-bottom: 16px;
  padding-right: 40px;
}
.index_header{
  width: 100%;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 8px 4px 0;
  margin-bottom: 4px;
}
.expense_date, .expense_time{
  display: inline-block;
  font-size: 1.15rem;
  letter-spacing: 1px;
  padding: 0px 10px 0px 4px;
  color: #262626;
}
.expense_date{
  border-right: 2px solid #009933;
}
.expense_time{
  padding-left: 10px;
}
.category_text{
  height: 40px;
  line-height: 40px;
  width: 100%;
  font-size: 1.2rem;
  flex: 1;
  text-align: left;
  text-transform: capitalize;
  overflow: hidden;
}
.expenseAmountContainer{
  width: 100%;
  margin-top: 16px;
  height: auto;
}
.expense_eurosign{
  display: block;
  width: 45px;
  height: 36px;
  margin-right: 16px;
  font-size: 1.8rem;
  line-height: 34px;
  color: #4d4d4d;
  text-align: right;
  padding-right: 16px;
  padding-top: 2px;
  border-right: 2px solid #009933;
}
.expense_amount_payment{
  flex: 1;
  text-align: left;
}
.expense_amount{
  display: block;
  font-size: 1.2rem;
}
.expense_payment{
  display: block;
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-style: oblique;
  color: #808080;
}
.expenseDetailsBtn{
  text-decoration: none!important;
  display: block;
  font-size: 1.2rem;
  padding: 8px 12px;
  min-width: 40px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  color: #f4fffd;
  background-color: #194d19;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 1px rgba(0, 0, 0, 0.2), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.expenseDetailsBtn:hover,.expenseDetailsBtn:focus{
  background-color: #009933;
  color: #fff;
  text-shadow: -2px 2px 5px #000;
}
/* ~~~~~~~~~~~~~~~~~~~~ CATEGORY ICONS ~~~~~~~~~~~~~~~~~~~~ */
.category_icon{
  border-radius: 50%;
  color: #f5f5f5;
  box-shadow: 0px 0px 8px rgba(255, 255, 255,0.5) inset;
  width: 48px;
  height: 48px;
  margin: auto;
  margin-right: 10px;
  display: block;
}
.icon_bar{
  background-color: #ff6600;
}
.icon_bills{
  background-color: #b30000;
}
.icon_clothing{
  background-color: #476b6b;
  font-size: 1.6rem;
  padding-top: 11px;
  padding-left: 1px;
}
.icon_communication{
  background-color: #1e90ff;
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  font-size: 2rem;
  padding-top: 8px;
  padding-left: 2px;
}
.icon_cosmetics{
  background-color: #ff6699!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
  background: url(../img/beauty.svg) center center no-repeat;
  display: inline-block;
  background-position: 6px 8px!important;
  background-size: 30px!important;
}
.icon_donations{
  background-color: #9900cc;
}
.icon_education{
  background-color: #006699;
}
.icon_entertainment{
  background-color: #ffa500;
  font-size: 1.8rem;
  padding-top: 8px;
}
.icon_gifts{
  background-color: #ff7733;
  font-size: 2rem;
  padding-top: 6px;
}
.icon_health{
  background-color: #00802b;
}
.icon_housing{
  background-color: #b35900;
}
.icon_investments{
  background-color: #008060;
}
.icon_restaurant{
  background-color: #cc0000;
  font-size: 1.8rem;
  padding-top: 10px;
}
.icon_sports{
  background-color: #ff1a75;
  font-size: 2rem;
  padding-top: 9px;
}
.icon_supermarket{
  background-color: #cc3300;
}
.icon_technology{
  background-color: #1f4060;
  font-size: 1.6rem;
  padding-top: 9px;
}
.icon_transportation{
  background-color: #b38600;
}
.icon_traveling{
  background-color: #00994d;
  font-size: 1.5rem;
  padding-top: 13px;
}
.icon_vehicle{
  background-color: #262626;
}
.icon_miscellaneous{
  background-color: #734d26;
}
.icon_ettiquete {
  background-color: #2eb82e;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  font-size: 1.6rem;
  padding-top: 12px;
  padding-left: 2px;
}
/* ~~~~~~~~~~~~~~~~~~~~ CATEGORY ICONS COMMON ~~~~~~~~~~~~~~~~~~~~ */
.icon_bar, .icon_bills, .icon_education{
  font-size: 1.6rem;
  padding-top: 10px;
}
.icon_donations, .icon_investments{
  font-size: 1.6rem;
  padding-top: 9px;
  padding-left: 2px;
}
.icon_health, .icon_housing{
  font-size: 1.8rem!important;
  padding-top: 8px!important;
}
.icon_supermarket, .icon_miscellaneous{
  font-size: 1.6rem;
  padding-top: 12px;
}
.icon_transportation, .icon_vehicle{
  font-size: 1.7rem;
  padding-top: 10px;
}
/* ====================== Responsive Design with Media Queries ======================*/
@media screen and (max-width: 1400px){
  #filtersContainer_basic{
    max-width: 800px;
    margin: auto;
  }
}
@media screen and (max-width: 910px){
  .sort_btns_wrapper{
    max-width: 600px;
    margin: auto;
  }
}
@media screen and (max-width: 459px){
  .switch_container{
    width: 270px;
  }
  .switch_label{
    width: 180px;
    text-align: left;
  }
}
@media screen and (max-width: 415px){
  #goalSummaryCard>.summary_section>.summary_data{
    flex: none!important;
    width: 110px!important;
  }
  #goalSummaryCard>.summary_section>.summary_tag{
    height: 42px;
    line-height: 38px;
  }
  #goalSummaryCard>.summary_section:nth-child(5)>.summary_tag{
    line-height:20px!important;
    padding-top: 2px;
  }
}
@media screen and (max-width: 384px){
  .oneFilterContainer{
    width: 280px!important;
  }
}
@media screen and (max-width: 369px){
  .sortActionBtn{
    background-color: #1f601f;
    color: #f4fffd;
    font-size: 1.15rem;
    width: 200px;
    margin: 0px;
  }
  .sortActionBtn:nth-of-type(1){
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 350px){
  #expensesSummaryCard>.summary_section>.summary_data{
    flex: 1 0 120px;
  }
}
