@charset "utf-8";
/* CSS Document */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MENU ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#nav{
  width: 250px;
  background-color: #f5f5f5;
  position: fixed;
  top: 0px;
  left: -320px;
  width: 250px;
  height: 100vh;
  z-index: 9000;
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  overflow: auto;
  padding-bottom: 20px;
}
.displayMenu{
  left: 0!important;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MENU CARD ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#nav_card{
  background-color: #10A040;
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid #10A040;
}
#btn_closenav{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  padding-top: 2px;
  color: #f4fffd;
  background-color: #095d25;
}
#btn_closenav:hover, #btn_closenav:focus{
  color: #fff;
  text-shadow: -0px 0px 25px #bfbfbf;
  background-color: #1a1a1a;
  box-shadow: -0px 0px 15px rgba(0, 0, 0, 0.7);
}
#nav_logo{
  width: 90px;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 40px;
}
#nav_card_h2{
  text-align: center;
  color: #f4fffd;
  text-align: center;
  width: 100%;
  padding: 16px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAVIGATION LINKS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#menu{
  margin: 0px;
  width: 100%;
  height: auto;
  margin: 8px 0 0;
}
.menu_li{
  display: block;
  width: 100%;
  text-transform: uppercase;
  list-style-type: none;
  height: 48px;
}
.active{
  background-color: rgba(0, 153, 51, 0.3);
}
.menu_li>a{
  width: 100%;
  padding: 11px 16px;
  flex-flow: row nowrap;
  justify-content: flex-start;
  font-weight: bold;
  color: #262626;
  text-decoration: none!important;
}
.menu_li:hover, .menu_li:focus, .menu_li>a:hover, .menu_li>a:focus{
  background-color: #00cc44;
  color: #f4fffd;
}
.menu_li>a:hover .menu_icons, .menu_li>a:focus .menu_icons{
  text-shadow: 0px 0px 20px #000;
}
.menu_li>a:hover .menu_txt, .menu_li>a:focus .menu_txt{
  text-shadow: -2px 2px 15px #000;
}
.menu_icons, .menu_txt{
  display: block;
  font-size: 1rem;
}
.menu_icons{
  width: 27px;
  height: 27px;
  margin-right:8px;
  text-align: center;
}
.menu_icons.fas.fa-home{
  padding-top: 1px;
  font-size: 22px;
}
.menu_icons.fas.fa-user-circle, .menu_icons.fas.fa-shapes, .menu_icons.fas.fa-at{
  font-size: 24px;
}
.menu_icons.fas.fa-sign-out-alt{
  font-size: 24px;
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.menu_icons.fas.fa-tachometer-alt{
  font-size: 23px;
  margin-top: 2px;
}
.menu_icons.fas.fa-money-bill-wave{
  font-size: 22px;  margin-top: 5px;
}
.menu_icons.fa-plus-circle{
  font-size: 24px;
  margin-top: 2px;
}
